<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKsZcbxwYslzqpwapZaeIpNWR8614d6No</string>
	<key>GCM_SENDER_ID</key>
	<string>77388352372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jixcayau.chuckNorrisJokes</string>
	<key>PROJECT_ID</key>
	<string>chuck-norris-jokes-d32a8</string>
	<key>STORAGE_BUCKET</key>
	<string>chuck-norris-jokes-d32a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77388352372:ios:b41db82ce5e53c06d6ba21</string>
</dict>
</plist>